


body {
  background: #0099ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #0099ff, #9933ff); /* For Safari 5.1 to 6.0 */
  -webkit-background-size: cover;
  background: -o-linear-gradient(-90deg, #0099ff, #9933ff); /* For Opera 11.1 to 12.0 */
  -o-background-size: cover;
  background: -moz-linear-gradient(-90deg, #0099ff, #9933ff); /* For Firefox 3.6 to 15 */
  -moz-background-size: cover;
  background: linear-gradient(-90deg, #0099ff, #9933ff); /* Standard syntax */
  background-size: auto;
  background-repeat: repeat;
  margin: 0;
  padding: 30px 0 0;


}



#nav h1 {
  margin: 0;
  color:white;

}

#nav h3 {
  margin: 0;
  color: #0099ff;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
}

#nav ul {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;

}
.img-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;
}


#nav li a {

    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

#nav li a.active {
    background-color: #9933ff;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



main {
  color: white;
  float: right ;
  width: 80% ;
}

.first-half {
  float: left;
  width: 50%;
  
}
.first-half img {
  border-radius: 50%;
  width: 400px;
  height: 350px;
  padding-bottom: 10px;
}
.first-half p {
 width: 450px;


}
.second-half {
  float: right;
  width: 50%;
}













footer {
  position: fixed;
  background: #0099ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #0099ff, #9933ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #0099ff, #9933ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #0099ff, #9933ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #0099ff, #9933ff); /* Standard syntax */
  color: white;
  bottom: 0;
  width: 100%;
  text-align: center;



}
